In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [5]:
pd.set_option('display.max_columns', 500)

---

In [2]:
loan_borrowers = pd.read_csv('../../data/interim/loan_borrower.csv')

In [7]:
loan_borrowers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_id                     100000 non-null  int64
 1   member_id                   100000 non-null  int64
 2   date                        100000 non-null  object
 3   purpose                     100000 non-null  object
 4   is_joint_application        99029 non-null   float64
 5   loan_amount                 99983 non-null   float64
 6   term_in_months              99983 non-null   float64
 7   interest_rate               100000 non-null  float64
 8   monthly_payment             100000 non-null  int64
 9   grade                       100000 non-null  object
 10  loan_status                 100000 non-null  object
 11  residential_state           100000 non-null  object
 12  years_employment            100000 non-null  object
 13  home_ownership              100000 non-null  object
 14  annual_income               100000 non-null  int64
 15  income_verified             100000 non-null  int64
 16  dti_ratio                   100000 non-null  float64
 17  length_credit_history       100000 non-null  int64
 18  n_total_credit_lines        100000 non-null  int64
 19  n_open_credit_lines         99033 non-null   float64
 20  n_open_credit_lines_1_year  100000 non-null  int64
 21  revolving_balance           100000 non-null  int64
 22  revolving_utilization_rate  100000 non-null  float64
 23  n_derogatory_record         100000 non-null  int64
 24  n_delinquency_2_years       100000 non-null  int64
 25  n_charge_off_1_year         100000 non-null  int64
 26  n_inquiries_6_months        100000 non-null  int64
dtypes: float64(7), int64(13), object(7)
memory usage: 20.6+ MB

In [6]:
loan_borrowers.head()

,loan_id,member_id,date,purpose,is_joint_application,loan_amount,term_in_months,interest_rate,monthly_payment,grade,loan_status,residential_state,years_employment,home_ownership,annual_income,income_verified,dti_ratio,length_credit_history,n_total_credit_lines,n_open_credit_lines,n_open_credit_lines_1_year,revolving_balance,revolving_utilization_rate,n_derogatory_record,n_delinquency_2_years,n_charge_off_1_year,n_inquiries_6_months
0,1888978,2305095,2014-12-10,Debt Consolidation,0.0,25190.0,60.0,6.25,490,E3,Current,NM,10+ years,rent,56471,1,16.80,6,11,9.0,6,14301,49.02,0,19,10,0
1,1299695,2610493,2014-09-15,Debt Consolidation,0.0,21189.0,60.0,10.49,455,B3,Current,WA,2-5 years,rent,55038,0,19.99,22,8,7.0,4,18262,72.40,1,0,0,0
2,1875016,2491679,2014-09-11,Debt Consolidation,0.0,29908.0,60.0,9.11,622,B2,Current,MS,< 1 year,rent,56610,1,14.33,5,8,5.0,5,10799,66.27,0,1,1,0
3,1440478,2092798,2016-04-22,Home Improvement,0.0,13053.0,48.0,11.89,343,B3,Current,TX,6-9 years,own,54887,1,14.80,12,14,7.0,3,15272,61.05,1,0,0,3
4,1124634,2633077,2016-02-03,Debt Consolidation,0.0,24613.0,60.0,15.13,587,A3,Current,MA,2-5 years,rent,53522,1,10.14,4,21,19.0,10,19316,56.39,2,14,7,1

----

# <center>**Expectations**</center>

-