In [94]:
import pandas as pd
import plotly.express as px

In [95]:
from sklearn.preprocessing import OrdinalEncoder

In [96]:
import warnings
warnings.filterwarnings(action='ignore')

In [97]:
pd.set_option('display.max_columns', 500)

---

# <center>**Feature Engineering**</center>

---

In [98]:
data = pd.read_csv('../../data/interim/loan_borrower.csv')

---

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_id                     100000 non-null  int64
 1   member_id                   100000 non-null  int64
 2   date                        100000 non-null  object
 3   purpose                     100000 non-null  object
 4   is_joint_application        99029 non-null   float64
 5   loan_amount                 99983 non-null   float64
 6   term                        99983 non-null   object
 7   term_in_months              99983 non-null   float64
 8   interest_rate               100000 non-null  float64
 9   monthly_payment             100000 non-null  int64
 10  grade                       100000 non-null  object
 11  loan_status                 100000 non-null  object
 12  residential_state           100000 non-null  object
 13  years_employment            100000 non-null  object
 14  home_ownership              100000 non-null  object
 15  annual_income               100000 non-null  int64
 16  income_verified             100000 non-null  int64
 17  dti_ratio                   100000 non-null  float64
 18  length_credit_history       100000 non-null  int64
 19  n_total_credit_lines        100000 non-null  int64
 20  n_open_credit_lines         99033 non-null   float64
 21  n_open_credit_lines_1_year  100000 non-null  int64
 22  revolving_balance           100000 non-null  int64
 23  revolving_utilization_rate  100000 non-null  float64
 24  n_derogatory_record         100000 non-null  int64
 25  n_delinquency_2_years       100000 non-null  int64
 26  n_charge_off_1_year         100000 non-null  int64
 27  n_inquiries_6_months        100000 non-null  int64
dtypes: float64(7), int64(13), object(8)
memory usage: 21.4+ MB

In [100]:
data.head()

,loan_id,member_id,date,purpose,is_joint_application,loan_amount,term,term_in_months,interest_rate,monthly_payment,grade,loan_status,residential_state,years_employment,home_ownership,annual_income,income_verified,dti_ratio,length_credit_history,n_total_credit_lines,n_open_credit_lines,n_open_credit_lines_1_year,revolving_balance,revolving_utilization_rate,n_derogatory_record,n_delinquency_2_years,n_charge_off_1_year,n_inquiries_6_months
0,1888978,2305095,2014-12-10,Debt Consolidation,0.0,25190.0,60 months,60.0,6.25,490,E3,Current,NM,10+ years,rent,56471,1,16.80,6,11,9.0,6,14301,49.02,0,19,10,0
1,1299695,2610493,2014-09-15,Debt Consolidation,0.0,21189.0,60 months,60.0,10.49,455,B3,Current,WA,2-5 years,rent,55038,0,19.99,22,8,7.0,4,18262,72.40,1,0,0,0
2,1875016,2491679,2014-09-11,Debt Consolidation,0.0,29908.0,60 months,60.0,9.11,622,B2,Current,MS,< 1 year,rent,56610,1,14.33,5,8,5.0,5,10799,66.27,0,1,1,0
3,1440478,2092798,2016-04-22,Home Improvement,0.0,13053.0,48 months,48.0,11.89,343,B3,Current,TX,6-9 years,own,54887,1,14.80,12,14,7.0,3,15272,61.05,1,0,0,3
4,1124634,2633077,2016-02-03,Debt Consolidation,0.0,24613.0,60 months,60.0,15.13,587,A3,Current,MA,2-5 years,rent,53522,1,10.14,4,21,19.0,10,19316,56.39,2,14,7,1

---

In [101]:
loan_borrower = data.copy()

### **Actions Required**

- Drop the loan_id, member_id, date, and term columns
- Drop rows where both loan_amount and term_in_months are missing
- Impute missing values in is_joint_application with the mode value
- Impute missing values in n_open_credit_lines with the values from n_open_credit_lines_1_year
- Encode years_employment with OrdinalEncoder
- Encode the rest of the categorical variables with get_dummies

In [102]:
loan_borrower = loan_borrower.drop(columns=['loan_id', 'member_id', 'date', 'term'])

In [103]:
loan_borrower = loan_borrower.loc[~loan_borrower['loan_amount'].isna() & ~loan_borrower['term_in_months'].isna()]

In [104]:
loan_borrower['is_joint_application'].fillna(0, inplace=True)

In [105]:
open_credit_na = loan_borrower.loc[loan_borrower['n_open_credit_lines'].isna(), 'n_open_credit_lines_1_year']
loan_borrower.loc[open_credit_na.index, 'n_open_credit_lines'] = open_credit_na

In [106]:
ordinal_encoder = OrdinalEncoder(categories=[['< 1 year', '1 year', '2-5 years', '6-9 years', '10+ years']])
years_employment = ordinal_encoder.fit_transform(loan_borrower.years_employment.apply(lambda x: [x]).to_list())

In [107]:
loan_borrower.drop(columns='years_employment', inplace=True)

In [108]:
loan_borrower = pd.get_dummies(loan_borrower)

In [109]:
loan_borrower['years_employment'] = pd.Series(years_employment.flatten())

In [110]:
cols = loan_borrower.columns.tolist()
loan_borrower = loan_borrower[cols[:8] + [cols[-1]] + cols[8:-1]]

In [111]:
loan_borrower.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99983 entries, 0 to 99999
Data columns (total 95 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   is_joint_application        99983 non-null  float64
 1   loan_amount                 99983 non-null  float64
 2   term_in_months              99983 non-null  float64
 3   interest_rate               99983 non-null  float64
 4   monthly_payment             99983 non-null  int64
 5   annual_income               99983 non-null  int64
 6   income_verified             99983 non-null  int64
 7   dti_ratio                   99983 non-null  float64
 8   years_employment            99966 non-null  float64
 9   length_credit_history       99983 non-null  int64
 10  n_total_credit_lines        99983 non-null  int64
 11  n_open_credit_lines         99983 non-null  float64
 12  n_open_credit_lines_1_year  99983 non-null  int64
 13  revolving_balance           99983 non-null  int64
 14  revolving_utilization_rate  99983 non-null  float64
 15  n_derogatory_record         99983 non-null  int64
 16  n_delinquency_2_years       99983 non-null  int64
 17  n_charge_off_1_year         99983 non-null  int64
 18  n_inquiries_6_months        99983 non-null  int64
 19  purpose_Auto                99983 non-null  uint8
 20  purpose_Business            99983 non-null  uint8
 21  purpose_Debt Consolidation  99983 non-null  uint8
 22  purpose_Education           99983 non-null  uint8
 23  purpose_Healthcare          99983 non-null  uint8
 24  purpose_Home Improvement    99983 non-null  uint8
 25  purpose_Other               99983 non-null  uint8
 26  grade_A1                    99983 non-null  uint8
 27  grade_A2                    99983 non-null  uint8
 28  grade_A3                    99983 non-null  uint8
 29  grade_B1                    99983 non-null  uint8
 30  grade_B2                    99983 non-null  uint8
 31  grade_B3                    99983 non-null  uint8
 32  grade_C1                    99983 non-null  uint8
 33  grade_C2                    99983 non-null  uint8
 34  grade_C3                    99983 non-null  uint8
 35  grade_D1                    99983 non-null  uint8
 36  grade_D2                    99983 non-null  uint8
 37  grade_D3                    99983 non-null  uint8
 38  grade_E1                    99983 non-null  uint8
 39  grade_E2                    99983 non-null  uint8
 40  grade_E3                    99983 non-null  uint8
 41  loan_status_Current         99983 non-null  uint8
 42  loan_status_Default         99983 non-null  uint8
 43  residential_state_AL        99983 non-null  uint8
 44  residential_state_AR        99983 non-null  uint8
 45  residential_state_AZ        99983 non-null  uint8
 46  residential_state_CA        99983 non-null  uint8
 47  residential_state_CO        99983 non-null  uint8
 48  residential_state_CT        99983 non-null  uint8
 49  residential_state_DC        99983 non-null  uint8
 50  residential_state_DE        99983 non-null  uint8
 51  residential_state_FL        99983 non-null  uint8
 52  residential_state_GA        99983 non-null  uint8
 53  residential_state_IA        99983 non-null  uint8
 54  residential_state_ID        99983 non-null  uint8
 55  residential_state_IL        99983 non-null  uint8
 56  residential_state_IN        99983 non-null  uint8
 57  residential_state_KS        99983 non-null  uint8
 58  residential_state_KY        99983 non-null  uint8
 59  residential_state_LA        99983 non-null  uint8
 60  residential_state_MA        99983 non-null  uint8
 61  residential_state_MD        99983 non-null  uint8
 62  residential_state_ME        99983 non-null  uint8
 63  residential_state_MI        99983 non-null  uint8
 64  residential_state_MN        99983 non-null  uint8
 65  residential_state_MO        99983 non-null  uint8
 66  residential_state_MS        99983 non-null  uint8
 67  residential_state_MT        99983 non-null  uint8
 68  residential_state_NC        99983 non-null  uint8
 69  residential_state_ND        99983 non-null  uint8
 70  residential_state_NE        99983 non-null  uint8
 71  residential_state_NH        99983 non-null  uint8
 72  residential_state_NJ        99983 non-null  uint8
 73  residential_state_NM        99983 non-null  uint8
 74  residential_state_NV        99983 non-null  uint8
 75  residential_state_NY        99983 non-null  uint8
 76  residential_state_OH        99983 non-null  uint8
 77  residential_state_OK        99983 non-null  uint8
 78  residential_state_OR        99983 non-null  uint8
 79  residential_state_PA        99983 non-null  uint8
 80  residential_state_RI        99983 non-null  uint8
 81  residential_state_SC        99983 non-null  uint8
 82  residential_state_SD        99983 non-null  uint8
 83  residential_state_TN        99983 non-null  uint8
 84  residential_state_TX        99983 non-null  uint8
 85  residential_state_UT        99983 non-null  uint8
 86  residential_state_VA        99983 non-null  uint8
 87  residential_state_VT        99983 non-null  uint8
 88  residential_state_WA        99983 non-null  uint8
 89  residential_state_WI        99983 non-null  uint8
 90  residential_state_WV        99983 non-null  uint8
 91  residential_state_WY        99983 non-null  uint8
 92  home_ownership_mortgage     99983 non-null  uint8
 93  home_ownership_own          99983 non-null  uint8
 94  home_ownership_rent         99983 non-null  uint8
dtypes: float64(8), int64(11), uint8(76)
memory usage: 24.5 MB

---

### **Load the engineered dataset to the data/processed folder for training model**

In [ ]:
loan_borrower.to_csv('../../data/processed/loan_borrower.csv', index=False, mode='w+')