In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.preprocessing import OrdinalEncoder

In [3]:
loan_borrower_prod = pd.read_csv('../../data/interim/loan_borrower_prod.csv')

---

**Engineer Features for Production Model**

In [5]:
loan_borrower_prod['term_in_months'] = loan_borrower_prod['term'].apply(lambda x: int(x.split(' ')[0]))

In [8]:
loan_borrower_prod = loan_borrower_prod.drop(columns=['loan_id', 'member_id', 'date', 'term'])

In [10]:
ordinal_encoder = OrdinalEncoder(categories=[['< 1 year', '1 year', '2-5 years', '6-9 years', '10+ years']])
years_employment = ordinal_encoder.fit_transform(loan_borrower_prod.years_employment.apply(lambda x: [x]).to_list())

In [11]:
loan_borrower_prod.drop(columns='years_employment', inplace=True)

In [12]:
loan_borrower_prod = pd.get_dummies(loan_borrower_prod)

In [13]:
loan_borrower_prod['years_employment'] = years_employment.flatten()

In [14]:
cols = loan_borrower_prod.columns.tolist()
loan_borrower_prod = loan_borrower_prod[cols[:8] + [cols[-1]] + cols[8:-1]]

---

In [15]:
loan_borrower = pd.read_csv('../../data/processed/loan_borrower.csv')

In [16]:
loan_borrower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99983 entries, 0 to 99982
Data columns (total 94 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   is_joint_application        99983 non-null  float64
 1   loan_amount                 99983 non-null  float64
 2   term_in_months              99983 non-null  float64
 3   interest_rate               99983 non-null  float64
 4   monthly_payment             99983 non-null  int64
 5   loan_status                 99983 non-null  int64
 6   annual_income               99983 non-null  int64
 7   income_verified             99983 non-null  int64
 8   years_employment            99983 non-null  float64
 9   dti_ratio                   99983 non-null  float64
 10  length_credit_history       99983 non-null  int64
 11  n_total_credit_lines        99983 non-null  int64
 12  n_open_credit_lines         99983 non-null  float64
 13  n_open_credit_lines_1_year  99983 non-null  int64
 14  revolving_balance           99983 non-null  int64
 15  revolving_utilization_rate  99983 non-null  float64
 16  n_derogatory_record         99983 non-null  int64
 17  n_delinquency_2_years       99983 non-null  int64
 18  n_charge_off_1_year         99983 non-null  int64
 19  n_inquiries_6_months        99983 non-null  int64
 20  purpose_Auto                99983 non-null  int64
 21  purpose_Business            99983 non-null  int64
 22  purpose_Debt Consolidation  99983 non-null  int64
 23  purpose_Education           99983 non-null  int64
 24  purpose_Healthcare          99983 non-null  int64
 25  purpose_Home Improvement    99983 non-null  int64
 26  purpose_Other               99983 non-null  int64
 27  grade_A1                    99983 non-null  int64
 28  grade_A2                    99983 non-null  int64
 29  grade_A3                    99983 non-null  int64
 30  grade_B1                    99983 non-null  int64
 31  grade_B2                    99983 non-null  int64
 32  grade_B3                    99983 non-null  int64
 33  grade_C1                    99983 non-null  int64
 34  grade_C2                    99983 non-null  int64
 35  grade_C3                    99983 non-null  int64
 36  grade_D1                    99983 non-null  int64
 37  grade_D2                    99983 non-null  int64
 38  grade_D3                    99983 non-null  int64
 39  grade_E1                    99983 non-null  int64
 40  grade_E2                    99983 non-null  int64
 41  grade_E3                    99983 non-null  int64
 42  residential_state_AL        99983 non-null  int64
 43  residential_state_AR        99983 non-null  int64
 44  residential_state_AZ        99983 non-null  int64
 45  residential_state_CA        99983 non-null  int64
 46  residential_state_CO        99983 non-null  int64
 47  residential_state_CT        99983 non-null  int64
 48  residential_state_DC        99983 non-null  int64
 49  residential_state_DE        99983 non-null  int64
 50  residential_state_FL        99983 non-null  int64
 51  residential_state_GA        99983 non-null  int64
 52  residential_state_IA        99983 non-null  int64
 53  residential_state_ID        99983 non-null  int64
 54  residential_state_IL        99983 non-null  int64
 55  residential_state_IN        99983 non-null  int64
 56  residential_state_KS        99983 non-null  int64
 57  residential_state_KY        99983 non-null  int64
 58  residential_state_LA        99983 non-null  int64
 59  residential_state_MA        99983 non-null  int64
 60  residential_state_MD        99983 non-null  int64
 61  residential_state_ME        99983 non-null  int64
 62  residential_state_MI        99983 non-null  int64
 63  residential_state_MN        99983 non-null  int64
 64  residential_state_MO        99983 non-null  int64
 65  residential_state_MS        99983 non-null  int64
 66  residential_state_MT        99983 non-null  int64
 67  residential_state_NC        99983 non-null  int64
 68  residential_state_ND        99983 non-null  int64
 69  residential_state_NE        99983 non-null  int64
 70  residential_state_NH        99983 non-null  int64
 71  residential_state_NJ        99983 non-null  int64
 72  residential_state_NM        99983 non-null  int64
 73  residential_state_NV        99983 non-null  int64
 74  residential_state_NY        99983 non-null  int64
 75  residential_state_OH        99983 non-null  int64
 76  residential_state_OK        99983 non-null  int64
 77  residential_state_OR        99983 non-null  int64
 78  residential_state_PA        99983 non-null  int64
 79  residential_state_RI        99983 non-null  int64
 80  residential_state_SC        99983 non-null  int64
 81  residential_state_SD        99983 non-null  int64
 82  residential_state_TN        99983 non-null  int64
 83  residential_state_TX        99983 non-null  int64
 84  residential_state_UT        99983 non-null  int64
 85  residential_state_VA        99983 non-null  int64
 86  residential_state_VT        99983 non-null  int64
 87  residential_state_WA        99983 non-null  int64
 88  residential_state_WI        99983 non-null  int64
 89  residential_state_WV        99983 non-null  int64
 90  residential_state_WY        99983 non-null  int64
 91  home_ownership_mortgage     99983 non-null  int64
 92  home_ownership_own          99983 non-null  int64
 93  home_ownership_rent         99983 non-null  int64
dtypes: float64(8), int64(86)
memory usage: 71.7 MB

In [17]:
loan_borrower_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992 entries, 0 to 2991
Data columns (total 83 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   is_joint_application        2992 non-null   float64
 1   loan_amount                 2992 non-null   float64
 2   interest_rate               2992 non-null   float64
 3   monthly_payment             2992 non-null   float64
 4   loan_status                 0 non-null      float64
 5   annual_income               2992 non-null   int64
 6   income_verified             2992 non-null   int64
 7   dti_ratio                   2992 non-null   float64
 8   years_employment            2992 non-null   float64
 9   length_credit_history       2992 non-null   int64
 10  n_total_credit_lines        2992 non-null   int64
 11  n_open_credit_lines         2992 non-null   int64
 12  n_open_credit_lines_1_year  2992 non-null   int64
 13  revolving_balance           2992 non-null   int64
 14  revolving_utilization_rate  2992 non-null   float64
 15  n_derogatory_record         2992 non-null   int64
 16  n_delinquency_2_years       2992 non-null   int64
 17  n_charge_off_1_year         2992 non-null   int64
 18  n_inquiries_6_months        2992 non-null   float64
 19  term_in_months              2992 non-null   int64
 20  purpose_Auto                2992 non-null   uint8
 21  purpose_Business            2992 non-null   uint8
 22  purpose_Debt Consolidation  2992 non-null   uint8
 23  purpose_Education           2992 non-null   uint8
 24  purpose_Healthcare          2992 non-null   uint8
 25  purpose_Home Improvement    2992 non-null   uint8
 26  purpose_Other               2992 non-null   uint8
 27  grade_A1                    2992 non-null   uint8
 28  grade_A2                    2992 non-null   uint8
 29  grade_A3                    2992 non-null   uint8
 30  grade_B1                    2992 non-null   uint8
 31  grade_B2                    2992 non-null   uint8
 32  grade_B3                    2992 non-null   uint8
 33  grade_C1                    2992 non-null   uint8
 34  grade_C2                    2992 non-null   uint8
 35  grade_C3                    2992 non-null   uint8
 36  grade_D1                    2992 non-null   uint8
 37  grade_D2                    2992 non-null   uint8
 38  grade_D3                    2992 non-null   uint8
 39  grade_E1                    2992 non-null   uint8
 40  grade_E2                    2992 non-null   uint8
 41  grade_E3                    2992 non-null   uint8
 42  residential_state_AL        2992 non-null   uint8
 43  residential_state_AR        2992 non-null   uint8
 44  residential_state_AZ        2992 non-null   uint8
 45  residential_state_CA        2992 non-null   uint8
 46  residential_state_CO        2992 non-null   uint8
 47  residential_state_CT        2992 non-null   uint8
 48  residential_state_DC        2992 non-null   uint8
 49  residential_state_DE        2992 non-null   uint8
 50  residential_state_FL        2992 non-null   uint8
 51  residential_state_GA        2992 non-null   uint8
 52  residential_state_IA        2992 non-null   uint8
 53  residential_state_IL        2992 non-null   uint8
 54  residential_state_IN        2992 non-null   uint8
 55  residential_state_KS        2992 non-null   uint8
 56  residential_state_KY        2992 non-null   uint8
 57  residential_state_LA        2992 non-null   uint8
 58  residential_state_MA        2992 non-null   uint8
 59  residential_state_MD        2992 non-null   uint8
 60  residential_state_ME        2992 non-null   uint8
 61  residential_state_MI        2992 non-null   uint8
 62  residential_state_MN        2992 non-null   uint8
 63  residential_state_MO        2992 non-null   uint8
 64  residential_state_MS        2992 non-null   uint8
 65  residential_state_MT        2992 non-null   uint8
 66  residential_state_NE        2992 non-null   uint8
 67  residential_state_NH        2992 non-null   uint8
 68  residential_state_NJ        2992 non-null   uint8
 69  residential_state_NM        2992 non-null   uint8
 70  residential_state_NV        2992 non-null   uint8
 71  residential_state_NY        2992 non-null   uint8
 72  residential_state_OR        2992 non-null   uint8
 73  residential_state_PA        2992 non-null   uint8
 74  residential_state_RI        2992 non-null   uint8
 75  residential_state_SC        2992 non-null   uint8
 76  residential_state_SD        2992 non-null   uint8
 77  residential_state_TN        2992 non-null   uint8
 78  residential_state_TX        2992 non-null   uint8
 79  residential_state_WA        2992 non-null   uint8
 80  home_ownership_mortgage     2992 non-null   uint8
 81  home_ownership_own          2992 non-null   uint8
 82  home_ownership_rent         2992 non-null   uint8
dtypes: float64(9), int64(11), uint8(63)
memory usage: 651.7 KB

In [18]:
extra_columns = loan_borrower.columns.difference(loan_borrower_prod.columns)
for extra_column in extra_columns:
   loan_borrower_prod[extra_column] = 0

In [19]:
loan_borrower_prod = loan_borrower_prod[loan_borrower.columns]

In [20]:
loan_borrower_prod.to_csv('../../data/processed/loan_borrower_prod.csv', index=False, mode='w+')